<section class="About">
  <h1>About Me</h1>
  <div class="cards-container">
    <!-- Education Section -->
    <div class="Education-text">
      <h2>Education</h2>

      <div class="edu-item">
        <h3>Bachelor’s Degree in Web Development</h3>
        <p class="bashlor">
          Keyce Informatique - College de Paris <br />
          October 2025 – Present
        </p>
      </div>

      <div class="edu-item">
        <h3>BTS – Higher Technician Diploma in Multimedia and Marketing</h3>
        <p class="bts">
          Sectoral Training Center for Telecommunications <br />
          January 2023 – June 2025
        </p>
      </div>

      <div class="edu-item">
        <h3>BTP – Professional Technician in Prepress and Graphic Design</h3>
        <p class="btp">
          Sectoral Training Center for Graphic Arts <br />
          November 2020 – June 2022
        </p>
      </div>
    </div>

    <div class="Training-text">
      <h2>Training</h2>

      <div class="edu-item">
        <h3>GOMYCODE</h3>
        <p class="GOMYCODE">
          Development Training — <br />
          September 2023 – December 2023
        </p>
      </div>

      <div class="edu-item">
        <h3>Crococoder</h3>
        <p class="Crococoder">
          Fullstack JavaScript Training <br />
          September 2024 – December 2024
        </p>
      </div>
    </div>

    <!-- Skills Section -->
    <div class="skill-text">
      <h2>Technical Skills</h2>

      <div class="skill-item">
        <h3>Web Development</h3>
        <p class="devskill">
          HTML, CSS, JavaScript, Angular, Node.js, Python, PHP, MySQL, MongoDB
        </p>
      </div>

      <div class="skill-item">
        <h3>CMS & Tools</h3>
        <p class="CMSskill">WordPress, ACF Pro</p>
      </div>

      <div class="skill-item">
        <h3>Design & Multimedia</h3>
        <p class="mulskill">
          Adobe Photoshop, Illustrator, Lightroom, Premiere Pro, Figma
        </p>
      </div>
    </div>

    <!-- Languages Section -->
    <div class="lang-text">
      <h2>Languages</h2>

      <div class="lang-item">
        <p><strong>Arabic:</strong> Native</p>
        <p><strong>French:</strong> Fluent</p>
        <p><strong>English:</strong> Fluent</p>
        <p><strong>Spanish:</strong> Beginner</p>
      </div>
    </div>
  </div>
</section>
