<section class="experience">
  <h1>My Experience</h1>

  <div class="experience-text">
    <h3>Web Development</h3>
    <div class="exp-item">
      <p>
        <strong>web app – 2024:</strong> Creation of responsive websites, Figma
        → HTML/CSS integration, WordPress customization.
      </p>
    </div>
    <div class="exp-item">
      <p>
        <strong>3s - 2025:</strong> Creation of a dynamic website CareerTracker
        – Angular, Express, MySQL.
      </p>
    </div>

    <h3>Graphic Design</h3>
    <div class="exp-item">
      <p>
        <strong>Yes Design – 2023:</strong> Design and editing of web visuals
        using Photoshop & Illustrator.
      </p>
    </div>
    <div class="exp-item">
      <p>
        <strong>Amine Techno Presse – 2022:</strong> Visual identity, logos,
        printed materials.
      </p>
    </div>
  </div>
</section>
